.left-part{
  display: block;
}

h1{
  margin: 0 0 15px 0;
  font-size: 60px;
}

.todo-input{
  margin-bottom: 10px;

}

.btn_addtodo{
  border-radius: 10px;
  font-weight: bold;
  height: 40px;
  box-shadow: 2px 2px;
  transition: .5s;
  outline: none;
}

.btn_addtodo:active{
  box-shadow: none;
}