.header{
  display: flex;
  height: 10vh;
}

.app_tittle{
  font-size: 30px;
  margin: 0px;
}

.header-login{
  margin-left: auto;
  display: flex;
}

.greeding{
  display: inline-block;
  margin: 0;
  font-size: 15px;
}


.log-button{
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  padding: 3vh 0px;
}