.app-all{
  background-image: url('./img/DSC_0186.JPG');
  background-color: rgba(255, 255, 255, .8);
  background-blend-mode: lighten;
  background-size: cover;
  height: 100%;
}

.header{
 background-color: rgb(7, 7, 7);
 color: white;
}


.todos{
  display: flex;
}

.left{
  width: 40%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center; 
  text-align: center;
  background-blend-mode: lighten;
}

.right{
  width: 60%;
  height: 90vh;
  display: inline-block;
  background-blend-mode: lighten;
}

.right-upper{
  height: 30vh;
}

.all-delete-btn{
  margin-left: 15px;
}


.right-under{
  margin-top: 15px;
  height: 60vh;
  overflow: auto;
}

ul{
  list-style: none;
  padding: 0px;
}
